{{page-title @subreddit}}
<section
  data-machine={{this.machineAttr}}
  data-state={{this.stateAttr}}
  ...attributes
>

  {{#if (this.isInState "setup")}}
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4">
      <p>No loader configured for getting the data</p>
    </div>
  {{/if}}

  {{#if (this.isInState "loading")}}
    <div>Loading posts...</div>
  {{/if}}

  {{#if (this.isInState "loaded")}}
    <header>
      <h3 class="capitalize text-xl font-bold text-gray-900">{{@subreddit}}</h3>

      <small>
        Last updated:
        {{this.formatDate this.context.lastUpdated}}
        <button
          {{on "click" this.refreshSubreddit}}
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-xs ml-1 text-white px-2 py-1 rounded-full"
        >Refresh</button>
      </small>
    </header>
    <ul>
      {{#each this.context.posts as |post|}}
        <li class="p-4 border-b-2">
          <span>{{post.title}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if (this.isInState "failure")}}
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4">
      <p>Could not load posts</p>
      <button
        {{on "click" this.retrySubreddit}}
        type="button"
        class="bg-blue-500 hover:bg-blue-700 mt-4 text-white px-4 py-2 rounded-full"
      >Retry</button>
    </div>
  {{/if}}
</section>
